:root{
    -maincolor: brown;
    --width:200px;
}
.h1{
    --width: 20px;
    background-color: var(--mincolor)
    font-size: var(--size)
}
.p1{
    color:var(--mincolor)
}
div{
    --boarder:5px solid;
    background-color: var(--mincolor);
    width: var(--width);
    height: var(--width);
    border: var(--boarder)cornflowerblue;
    margin-bottom: 20px;
}
.div2{
    width: 100px;
    height: 100px;
    background-color: burlywood;
    animation-name: move;
    animation-duration: 2s;
    position: relative;
}
@keyframes move{
    from{background-color: blanchedalmond;
    left: 0px;
}
    to{background-color: brown;
    left: 200px;
}
}
.div3{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    animation-name: square;
    animation-duration: 2s;
    position: relative;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes square {
    0%{
        left:0;
    }
    25%{
        left: 200px;
        top: 0;
    }
    50%{
        left: 200px;
        top: 200px;
    }
    75%{
        left: 0px;
        top: 200px;
    }
    100%{
        left: 0;
        top: 0;
        background-color: blueviolet;
    }
}
.div4{
    width: 100px;
    height: 100px;
    background-color: chocolate;
    animation-name: triangle;
    animation-duration: 3s;
    position: relative;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes triangle {
    0%{
        left:0;
        top: 0;
    }
    25%{
        left:400px;
        top: 0;
    }
    50%{
        right: 200px;
        top: 0px;
    }
    75%{
        left: 150px;
        top: 0;
    }
    100%{
        left: 150;
        top: 300;
        background-color: crimson;
    }
}
.transition{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-top: 20px;
    transition: width 1s, background-color 2s;
}
.transition:hover{
    width: 200px;
    background-color: blueviolet;
}
.transform{
    width: 100px;
    height: 100px;
    background-color: bisque;
    /*transform: translate(80px,50px); */
    transition: transform 4s;
}
.transform:hover{
    transform:rotate(730deg)
}